h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li,
label {
    color: white;
}

body {
    background-color: black;
    overflow: hidden;
}

.container {
    height: 100vh;
}


.progress {
    width: 100%;
    margin: 0 auto;
    height: 8px;
    border-radius: 0.1rem;

}

.musicp-control-wrap {
    padding: 0 48px;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

progress::-webkit-progress-value {
    background: white;
    border-radius: 8px;
}

.audio {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;
}

.audio>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.audio>p {
    text-align: center;
}

/* 秒數 */
.time-wrap {
    display: flex;
    justify-content: space-between;
}



/* 控制區 */
.control-wrap {
    align-items: center;
    justify-content: space-between;
}

.button-control {
    display: flex;
    justify-content: center;
}

.volume-control {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.control-data {
    display: flex;
    align-items: center;
}

.btn {
    cursor: pointer;
}

.control-text {
    padding: 8px;
}

.control-text>p {
    margin: 0;
}

.control-data>p {
    display: flex;
    font-size: 20px;
    align-items: center;
    margin: 0;

}

.control-text>small {
    color: #BBBBBB;
}

.control-data>img {
    height: 56px;
}



/* 控制區-end */

/* 圓形圖片 */
.jcc {
    display: flex;
    justify-content: center;
}

.square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square {
    padding: 0 !important;
    border-radius: 50%;
    overflow: hidden;
    max-width: 450px;
    max-height: 450px;
}


.square>img {
    width: 100%;
    height: 100%;
}

/* 旋轉動畫 */
.rotate {
    animation: rotation 10s infinite linear;
    /* animation-play-state: paused; */

}




@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

/* 進度條樣式 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
    input[type='range'] {
        overflow: hidden;
        height: 8px;
        width: 100px;
        border-radius: 10px;
        -webkit-appearance: none;
        background-color: gray;
    }



    input[type='range']::-webkit-slider-thumb {
        width: 1px;
        -webkit-appearance: none;
        height: 1px;
        border-radius: none;
        cursor: pointer;
        background: white;
        box-shadow: -100px 0 0 100px white;
    }

}







.nowTime {
    color: white;
}